<?xml version="1.0" ?>
<robot name="base_link" xmlns:xacro="http://www.ros.org/wiki/xacro">

<xacro:include filename="$(find base_link_description)/urdf/materials.xacro" />

<xacro:include filename="$(find base_link_description)/urdf/base_link.gazebo" />

<link name="base_footprint"/>

<link name="base_link">
  <inertial>
    <origin xyz="-0.00010002077702376659 0.0006224515569482331 0.01113434691014634" rpy="0 0 0"/>
    <mass value="461.29192739820286"/>
    <inertia ixx="147.674137" iyy="33.210044" izz="175.286525" ixy="-0.057608" iyz="0.049541" ixz="0.016827"/>
  </inertial>
  <visual>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/base_link.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>



<link name="antenna_v2_1">
  <inertial>
    <origin xyz="1.4688707175580795e-07 1.635889268492008e-08 -0.026339341270721017" rpy="0 0 0"/>
    <mass value="7.443853988598451"/>
    <inertia ixx="0.013163" iyy="0.013163" izz="0.023421" ixy="0.0" iyz="-0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.227499 0.83798 -0.595434" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/antenna_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="noir"/>
  </visual>
  <collision>
    <origin xyz="0.227499 0.83798 -0.595434" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/antenna_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_bar_v2_1">
  <inertial>
    <origin xyz="0.10777547321276287 -0.00187845083644138 -0.0002642432047443438" rpy="0 0 0"/>
    <mass value="111.43733098378524"/>
    <inertia ixx="9.426015" iyy="0.390473" izz="9.577074" ixy="0.007814" iyz="-4.1e-05" ixz="-0.0031"/>
  </inertial>
  <visual>
    <origin xyz="-0.443 0.005817 -0.05851" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_bar_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="-0.443 0.005817 -0.05851" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_bar_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_bar_v2_1">
  <inertial>
    <origin xyz="-0.10228837341940195 -0.002513547475841639 -0.0002732197771366379" rpy="0 0 0"/>
    <mass value="107.77149910990899"/>
    <inertia ixx="9.283295" iyy="0.348238" izz="9.395681" ixy="-0.00916" iyz="-5.5e-05" ixz="0.003203"/>
  </inertial>
  <visual>
    <origin xyz="0.442 0.005817 -0.05851" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_bar_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="0.442 0.005817 -0.05851" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_bar_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_back_glide_wheel_holder_v2_1">
  <inertial>
    <origin xyz="0.010782508394603929 0.0004752621318085404 -0.16365949373448246" rpy="0 0 0"/>
    <mass value="8.127452615459884"/>
    <inertia ixx="0.154629" iyy="0.0851" izz="0.070596" ixy="-7e-06" iyz="0.00041" ixz="0.000152"/>
  </inertial>
  <visual>
    <origin xyz="0.553 0.461162 -0.06173" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_back_glide_wheel_holder_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="0.553 0.461162 -0.06173" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_back_glide_wheel_holder_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_front_glide_wheel_holder_v2_1">
  <inertial>
    <origin xyz="0.010782508394603929 0.0004747580919743366 -0.1636594937344824" rpy="0 0 0"/>
    <mass value="8.127452615459832"/>
    <inertia ixx="0.154629" iyy="0.0851" izz="0.070596" ixy="-7e-06" iyz="0.00041" ixz="0.000152"/>
  </inertial>
  <visual>
    <origin xyz="0.553 -0.439845 -0.06173" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_front_glide_wheel_holder_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="0.553 -0.439845 -0.06173" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_front_glide_wheel_holder_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_front_glide_wheel_holder_v2_1">
  <inertial>
    <origin xyz="-0.010782508394647783 -0.0004746255244190145 -0.16365949374264965" rpy="0 0 0"/>
    <mass value="8.127452615544318"/>
    <inertia ixx="0.154629" iyy="0.0851" izz="0.070596" ixy="-7e-06" iyz="-0.00041" ixz="-0.000152"/>
  </inertial>
  <visual>
    <origin xyz="-0.563 -0.441851 -0.06173" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_front_glide_wheel_holder_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="-0.563 -0.441851 -0.06173" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_front_glide_wheel_holder_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_back_glide_wheel_holder_v2_1">
  <inertial>
    <origin xyz="-0.010782508394647783 -0.00047512148458467296 -0.16365949374264957" rpy="0 0 0"/>
    <mass value="8.127452615544314"/>
    <inertia ixx="0.154629" iyy="0.0851" izz="0.070596" ixy="-7e-06" iyz="-0.00041" ixz="-0.000152"/>
  </inertial>
  <visual>
    <origin xyz="-0.563 0.459155 -0.06173" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_back_glide_wheel_holder_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="-0.563 0.459155 -0.06173" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_back_glide_wheel_holder_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_back_wheel_v2_1">
  <inertial>
    <origin xyz="0.045664687889095446 0.00046458563283147125 -5.956414337113594e-05" rpy="0 0 0"/>
    <mass value="75.26539884501864"/>
    <inertia ixx="0.804248" iyy="6.293027" izz="6.29303" ixy="-0.003645" iyz="0.0" ixz="0.00047"/>
  </inertial>
  <visual>
    <origin xyz="-0.445 0.891477 -0.020339" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_back_wheel_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="-0.445 0.891477 -0.020339" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_back_wheel_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_front_wheel_v2_1">
  <inertial>
    <origin xyz="0.14999999999999997 -0.004067886170248114 0.0010169312169315062" rpy="0 0 0"/>
    <mass value="58.26279925623116"/>
    <inertia ixx="0.711517" iyy="0.404319" izz="0.404304" ixy="0.0" iyz="-4e-06" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.445 -0.905845 -0.009" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_front_wheel_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="-0.445 -0.905845 -0.009" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_front_wheel_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_front_wheel_v2_1">
  <inertial>
    <origin xyz="-0.14999999999999997 -1.6130252111778987e-07 3.226585665316861e-16" rpy="0 0 0"/>
    <mass value="61.898864581790114"/>
    <inertia ixx="0.801571" iyy="0.452368" izz="0.452368" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.445 -0.905845 -0.009" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_front_wheel_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="0.445 -0.905845 -0.009" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_front_wheel_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_track_v2_1">
  <inertial>
    <origin xyz="-4.847200867352797e-07 0.013309623173726724 -0.17537645560050405" rpy="0 0 0"/>
    <mass value="41.280541740102585"/>
    <inertia ixx="22.1242" iyy="2.274667" izz="20.124736" ixy="0.0" iyz="0.00987" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.590942 0.009155 -0.122942" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_track_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="noir"/>
  </visual>
  <collision>
    <origin xyz="-0.590942 0.009155 -0.122942" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_track_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_track_v3_1">
  <inertial>
    <origin xyz="4.847051781053935e-07 0.008309582381853376 -0.17537645560052342" rpy="0 0 0"/>
    <mass value="41.28054174010031"/>
    <inertia ixx="22.1242" iyy="2.274667" izz="20.124736" ixy="0.0" iyz="0.00987" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.580942 0.010155 -0.122942" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_track_v3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="noir"/>
  </visual>
  <collision>
    <origin xyz="0.580942 0.010155 -0.122942" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_track_v3_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_glide_wheel_1_v2_1">
  <inertial>
    <origin xyz="-0.04000000000000026 2.93865748846045e-07 5.551115123125783e-17" rpy="0 0 0"/>
    <mass value="21.751445055659623"/>
    <inertia ixx="0.119905" iyy="0.071553" izz="0.071553" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.553 -0.578351 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_glide_wheel_1_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="0.553 -0.578351 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_glide_wheel_1_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_glide_wheel_2_v2_1">
  <inertial>
    <origin xyz="-0.040000000000000036 2.93865748846045e-07 0.0" rpy="0 0 0"/>
    <mass value="21.751445055659666"/>
    <inertia ixx="0.119905" iyy="0.071553" izz="0.071553" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.553 -0.303351 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_glide_wheel_2_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="0.553 -0.303351 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_glide_wheel_2_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_glide_wheel_3_v2_1">
  <inertial>
    <origin xyz="-0.039999999999999925 -2.0209441681240392e-07 -2.7755575615628914e-17" rpy="0 0 0"/>
    <mass value="21.751445055659648"/>
    <inertia ixx="0.119905" iyy="0.071553" izz="0.071553" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.553 0.322655 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_glide_wheel_3_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="0.553 0.322655 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_glide_wheel_3_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_glide_wheel_4_v2_1">
  <inertial>
    <origin xyz="-0.040000000000000036 -2.0209441686791507e-07 -2.7755575615628914e-17" rpy="0 0 0"/>
    <mass value="21.751445055659605"/>
    <inertia ixx="0.119905" iyy="0.071553" izz="0.071553" ixy="0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.553 0.597655 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_glide_wheel_4_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="0.553 0.597655 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_glide_wheel_4_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_glide_wheel_1_v2_1">
  <inertial>
    <origin xyz="0.039999999999999925 3.427373466147188e-07 1.6653345369377348e-16" rpy="0 0 0"/>
    <mass value="21.751445055659644"/>
    <inertia ixx="0.119905" iyy="0.071553" izz="0.071553" ixy="-0.0" iyz="0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.563 0.597662 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_glide_wheel_1_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="-0.563 0.597662 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_glide_wheel_1_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_glide_wheel_2_v2_1">
  <inertial>
    <origin xyz="0.039999999999999925 3.427373465592076e-07 1.6653345369377348e-16" rpy="0 0 0"/>
    <mass value="21.751445055659644"/>
    <inertia ixx="0.119905" iyy="0.071553" izz="0.071553" ixy="-0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.563 0.322662 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_glide_wheel_2_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="-0.563 0.322662 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_glide_wheel_2_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_glide_wheel_3_v2_1">
  <inertial>
    <origin xyz="0.039999999999999925 -1.6130248775558798e-07 0.0" rpy="0 0 0"/>
    <mass value="21.751445055659666"/>
    <inertia ixx="0.119905" iyy="0.071553" izz="0.071553" ixy="-0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.563 -0.303345 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_glide_wheel_3_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="-0.563 -0.303345 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_glide_wheel_3_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="right_glide_wheel_4_v2_1">
  <inertial>
    <origin xyz="0.039999999999999925 -1.6130248770007682e-07 0.0" rpy="0 0 0"/>
    <mass value="21.751445055659666"/>
    <inertia ixx="0.119905" iyy="0.071553" izz="0.071553" ixy="0.0" iyz="0.0" ixz="-0.0"/>
  </inertial>
  <visual>
    <origin xyz="-0.563 -0.578345 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_glide_wheel_4_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="-0.563 -0.578345 0.2" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/right_glide_wheel_4_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<link name="left_back_wheel_v2_1">
  <inertial>
    <origin xyz="-0.14999999999999997 4.595570534116078e-07 2.770034841018121e-07" rpy="0 0 0"/>
    <mass value="59.2492593494584"/>
    <inertia ixx="0.711732" iyy="0.40524" izz="0.40524" ixy="0.0" iyz="-0.0" ixz="0.0"/>
  </inertial>
  <visual>
    <origin xyz="0.445 0.891477 -0.020339" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_back_wheel_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
    <material name="olive"/>
  </visual>
  <collision>
    <origin xyz="0.445 0.891477 -0.020339" rpy="0 0 0"/>
    <geometry>
      <mesh filename="file://$(find base_link_description)/meshes/left_back_wheel_v2_1.stl" scale="0.001 0.001 0.001"/>
    </geometry>
  </collision>
</link>

<joint name="Rigid" type="fixed">
  <origin xyz="0 0 0.4" rpy="0 0 0"/>
  <parent link="base_footprint"/>
  <child link="base_link"/>
  
</joint>

<joint name="Rigid 1" type="fixed">
  <origin xyz="-0.227499 -0.83798 0.595434" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="antenna_v2_1"/>
</joint>

<joint name="Rigid 2" type="fixed">
  <origin xyz="0.443 -0.005817 0.05851" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_bar_v2_1"/>
</joint>

<joint name="Rigid 3" type="fixed">
  <origin xyz="-0.442 -0.005817 0.05851" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_bar_v2_1"/>
</joint>

<joint name="Rigid 4" type="fixed">
  <origin xyz="-0.111 -0.455345 0.00322" rpy="0 0 0"/>
  <parent link="left_bar_v2_1"/>
  <child link="left_back_glide_wheel_holder_v2_1"/>
</joint>

<joint name="Rigid 5" type="fixed">
  <origin xyz="-0.111 0.445662 0.00322" rpy="0 0 0"/>
  <parent link="left_bar_v2_1"/>
  <child link="left_front_glide_wheel_holder_v2_1"/>
</joint>

<joint name="Rigid 6" type="fixed">
  <origin xyz="0.12 0.447668 0.00322" rpy="0 0 0"/>
  <parent link="right_bar_v2_1"/>
  <child link="right_front_glide_wheel_holder_v2_1"/>
</joint>

<joint name="Rigid 7" type="fixed">
  <origin xyz="0.12 -0.453338 0.00322" rpy="0 0 0"/>
  <parent link="right_bar_v2_1"/>
  <child link="right_back_glide_wheel_holder_v2_1"/>
</joint>

<joint name="Revolute 8" type="continuous">
  <origin xyz="0.445 -0.891477 0.020339" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_back_wheel_v2_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
</joint>

<joint name="Revolute 10" type="continuous">
  <origin xyz="0.445 0.905845 0.009" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="right_front_wheel_v2_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
</joint>

<joint name="Revolute 11" type="continuous">
  <origin xyz="-0.445 0.905845 0.009" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_front_wheel_v2_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
</joint>

<joint name="Rigid 12" type="fixed">
  <origin xyz="0.147942 -0.003338 0.064432" rpy="0 0 0"/>
  <parent link="right_bar_v2_1"/>
  <child link="right_track_v2_1"/>
</joint>

<joint name="Rigid 13" type="fixed">
  <origin xyz="-0.138942 -0.004338 0.064432" rpy="0 0 0"/>
  <parent link="left_bar_v2_1"/>
  <child link="left_track_v3_1"/>
</joint>

<joint name="Revolute 14" type="continuous">
  <origin xyz="0.0 0.138506 -0.26173" rpy="0 0 0"/>
  <parent link="left_front_glide_wheel_holder_v2_1"/>
  <child link="left_glide_wheel_1_v2_1"/>
  <axis xyz="-1.0 -0.0 0.0"/>
</joint>

<joint name="Revolute 15" type="continuous">
  <origin xyz="0.0 -0.136494 -0.26173" rpy="0 0 0"/>
  <parent link="left_front_glide_wheel_holder_v2_1"/>
  <child link="left_glide_wheel_2_v2_1"/>
  <axis xyz="-1.0 -0.0 0.0"/>
</joint>

<joint name="Revolute 16" type="continuous">
  <origin xyz="0.0 0.138507 -0.26173" rpy="0 0 0"/>
  <parent link="left_back_glide_wheel_holder_v2_1"/>
  <child link="left_glide_wheel_3_v2_1"/>
  <axis xyz="-1.0 -0.0 0.0"/>
</joint>

<joint name="Revolute 17" type="continuous">
  <origin xyz="0.0 -0.136493 -0.26173" rpy="0 0 0"/>
  <parent link="left_back_glide_wheel_holder_v2_1"/>
  <child link="left_glide_wheel_4_v2_1"/>
  <axis xyz="-1.0 -0.0 0.0"/>
</joint>

<joint name="Revolute 18" type="continuous">
  <origin xyz="0.0 -0.138507 -0.26173" rpy="0 0 0"/>
  <parent link="right_back_glide_wheel_holder_v2_1"/>
  <child link="right_glide_wheel_1_v2_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

<joint name="Revolute 19" type="continuous">
  <origin xyz="0.0 0.136493 -0.26173" rpy="0 0 0"/>
  <parent link="right_back_glide_wheel_holder_v2_1"/>
  <child link="right_glide_wheel_2_v2_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

<joint name="Revolute 20" type="continuous">
  <origin xyz="0.0 -0.138506 -0.26173" rpy="0 0 0"/>
  <parent link="right_front_glide_wheel_holder_v2_1"/>
  <child link="right_glide_wheel_3_v2_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

<joint name="Revolute 21" type="continuous">
  <origin xyz="0.0 0.136494 -0.26173" rpy="0 0 0"/>
  <parent link="right_front_glide_wheel_holder_v2_1"/>
  <child link="right_glide_wheel_4_v2_1"/>
  <axis xyz="1.0 0.0 0.0"/>
</joint>

<joint name="Revolute 22" type="continuous">
  <origin xyz="-0.445 -0.891477 0.020339" rpy="0 0 0"/>
  <parent link="base_link"/>
  <child link="left_back_wheel_v2_1"/>
  <axis xyz="-1.0 0.0 0.0"/>
</joint>

</robot>
